openapi: 3.0.1
info:
  title: λ by KevinZonda
  version: 1.0.0
servers:
  - url: https://sigma.kevinzonda.com/
paths:
  /status:
    get:
      tags:
        - Status
      summary: Get All status
      description: ''
      operationId: get-all-status
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusItemMap'
  /manage:
    post:
      tags:
        - Management
      operationId: manage-task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageTaskRequest'
      responses:
        '200':
          description: 'ok'
  /manage/add:
    post:
      tags:
        - Management
      operationId: add-task
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ManageAddPlainTask'
      responses:
        '200':
          description: 'ok'
components:
  securitySchemes:
    Token:
      type: apiKey
      in: header
      name: Authorisation
  schemas:
    StatusItemMap:
      type: object
      additionalProperties:
        $ref: '#/components/schemas/StatusItem'

    ManageTaskRequest:
      type: object
      properties:
        uid:
          type: string
        oper:
          type: string

    ManageAddPlainTask:
      type: object
      properties:
        uid:
          type: string
        lang:
          type: string
        code:
          type: string

    StatusItem:
      type: object
      required:
        - uid
        - kind
      properties:
        kind:
          type: string
        status:
          type: string
        last_trig_at:
          type: string
          format: date-time
        keep_until:
          type: string
          format: date-time

    ErrorResponse:
      type: object
      properties:
        error:
          type: string

